includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    tmpDir: var/cache/phpstan
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false

    symfony:
        constant_hassers: false
        # the placeholder "%ShopwareHashedCacheDir%" will be replaced on execution by bin/phpstan-config-generator.php script
        container_xml_path: '../../..%ShopwareHashedCacheDir%/Shopware_Core_KernelDevDebugContainer.xml'

    bootstrapFiles:
        -   bin/static-analyze-autoloader.php
