{% block sw_order_comment_modal %}
    <sw-modal
        class="sw-order-comment-modal"
        :title="$tc('sw-order.commentModal.labelTitle')"
        :is-loading="isLoading"
        @modal-close="closeModal"
    >
        {% block sw_order_comment_modal_tabs %}
            <sw-tabs default-item="general">
                <template #default="{ active }">
                    {% block sw_order_comment_modal_tab_general %}
                        <sw-tabs-item
                            :active-tab="active"
                            name="general"
                        >
                            {{ $tc('sw-order.commentModal.tabGeneral') }}
                        </sw-tabs-item>
                    {% endblock %}
                    {% block sw_order_comment_modal_tab_media %}
                        <sw-tabs-item
                            :active-tab="active"
                            name="media"
                        >
                            {{ $tc('sw-order.commentModal.tabMedia') }}
                        </sw-tabs-item>
                    {% endblock %}
                </template>

                <template #content="{ active }">
                    {% block sw_order_comment_modal_tab_general_content %}
                        <template v-if="active === 'general'">
                            {% block sw_order_comment_modal_info %}
                                <sw-container
                                    class="sw-order-comment-modal__info-container"
                                    columns="1fr 1fr"
                                >
                                    <sw-description-list
                                        grid="120px 1fr"
                                    >
                                        <dt>{{ $tc('sw-order.commentModal.labelCreatedBy') }}</dt>
                                        <dd>
                                            <sw-skeleton-bar
                                                v-if="isLoading"
                                            />
                                            <template v-else>
                                                {{ userName }}
                                            </template>
                                        </dd>
                                        <dt>{{ $tc('sw-order.commentModal.labelInternal') }}</dt>
                                        <dd>
                                            <sw-skeleton-bar
                                                v-if="isLoading"
                                            />
                                            <sw-switch-field
                                                v-else
                                                v-model="orderComment.internal"
                                                :label="$tc('sw-order.commentModal.labelInternal')"
                                            />
                                        </dd>
                                    </sw-description-list>

                                    <sw-description-list
                                        grid="120px 1fr"
                                    >
                                        <dt>{{ $tc('sw-order.commentModal.labelCreatedAt') }}</dt>
                                        <dd>
                                            <sw-skeleton-bar
                                                v-if="isLoading"
                                            />
                                            <template v-else>
                                                {{ orderComment.createdAt | date({hour: '2-digit', minute: '2-digit'}) }}
                                            </template>
                                        </dd>
                                        <dt>{{ $tc('sw-order.commentModal.labelUpdatedAt') }}</dt>
                                        <dd>
                                            <sw-skeleton-bar
                                                v-if="isLoading"
                                            />
                                            <template v-else>
                                                {{ orderComment.updatedAt | date({hour: '2-digit', minute: '2-digit'}) }}
                                            </template>
                                        </dd>
                                    </sw-description-list>
                                </sw-container>
                            {% endblock %}

                            {% block sw_order_comment_modal_content %}
                                <sw-skeleton-bar
                                    v-if="isLoading"
                                    style="height: 125px"
                                />
                                <sw-textarea-field
                                    v-else
                                    v-model="orderComment.content"
                                    required
                                />
                            {% endblock %}
                        </template>
                    {% endblock %}
                    {% block sw_order_comment_modal_tab_media_content %}
                        <template v-if="active === 'media'">
                            {% block sw_order_comment_modal_media_selection %}
                                <sw-upload-listener
                                    v-if="!isLoading"
                                    :upload-tag="orderComment.id"
                                    auto-upload
                                    @media-upload-finish="onImageUpload"
                                    @media-upload-fail="onUploadFailed"
                                />

                                <sw-media-upload-v2
                                    v-if="!isLoading"
                                    :upload-tag="orderComment.id"
                                    variant="regular"
                                    fileAccept="*/*"
                                    :default-folder="orderComment.getEntityName()"
                                    @media-upload-sidebar-open="onOpenMediaModal"
                                />

                                <div
                                    v-if="!isLoading"
                                    class="sw-order-detail-order-comments__grid"
                                    style="grid-template-columns: repeat(6, 1fr);"
                                >
                                    <sptec-media-item
                                        v-for="(mediaItem, index) in orderComment.media"
                                        :key="index"
                                        :item="mediaItem"
                                        showRemove
                                        @item-remove="onItemRemove(mediaItem)"
                                    />
                                </div>
                            {% endblock %}

                            {% block sw_order_comment_modal_media_modal %}
                                <sw-media-modal-v2
                                    v-if="mediaModalIsOpen"
                                    variant="regular"
                                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                    entity-context="orderComment.getEntityName()"
                                    @media-upload-remove-image="onItemRemove"
                                    @media-modal-selection-change="onMediaSelectionChange"
                                    @modal-close="onCloseMediaModal"
                                />
                            {% endblock %}
                        </template>
                    {% endblock %}
                </template>
            </sw-tabs>
        {% endblock %}

        {% block sw_order_comment_modal_footer %}
            <template #modal-footer>
                {% block sw_order_comment_modal_secondary_action %}
                    <sw-button
                        @click="closeModal"
                    >
                        {{ $tc('sw-order.commentModal.labelClose') }}
                    </sw-button>
                {% endblock %}

                {% block sw_order_comment_modal_primary_action %}
                    <sw-button
                        :disabled="primaryActionDisabled"
                        variant="primary"
                        @click="saveComment"
                    >
                        {{ $tc('sw-order.commentModal.labelSave') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-modal>
{% endblock %}
