@import "~scss/variables";

.sptec-order-comments-modal {
    &__info-container {
        margin-bottom: 16px;

        .sw-description-list {
            line-height: 15px;

            dt,
            dd {
                padding: 8px;
                border-bottom: none;
            }

            .sw-field--switch {
                margin: 0;
            }

            .sw-field--switch__input {
                padding: 0;
            }

            label {
                padding: 0 10px;
            }
        }
    }

    .sw-field--textarea {
        margin-bottom: 0;
    }

    .sw-skeleton-bar {
        height: 20px;
    }

    .sw-single-select {
        max-width: 120px;

        input,
        .sw-block-field__block {
            border-radius: 15px;
            border: none;
        }

        .sw-single-select__selection-text,
        .sw-single-select__selection-input {
            padding: 0 8px;
            min-height: 22px;
        }
    }

    .sw-single-select.green {
        input,
        .sw-block-field__block {
            background-color: $color-emerald-50;
        }

        .sw-single-select__selection-text {
            color: $color-emerald-700;
        }

        .sw-select__select-indicator {
            svg {
                color: $color-emerald-700;
            }
        }
    }

    .sw-single-select.orange {
        input,
        .sw-block-field__block {
            background-color: $color-pumpkin-spice-50;
        }

        .sw-single-select__selection-text {
            color: $color-pumpkin-spice-500;
        }

        .sw-select__select-indicator {
            svg {
                color: $color-pumpkin-spice-500;
            }
        }
    }

    .sw-single-select.gray {
        input,
        .sw-block-field__block {
            background-color: $color-gray-100;
        }

        .sw-single-select__selection-text {
            color: $color-darkgray-200;
        }

        .sw-select__select-indicator {
            svg {
                color: $color-darkgray-200;
            }
        }
    }
}
