@import "~scss/variables";

.sw-order-detail-order-comments {
    .sw-description-list {
        line-height: 15px;

        dt,
        dd {
            padding: 8px;
            border-bottom: none;
        }
    }

    .sw-context-button {
        position: absolute;
        right: 4px;
        top: 4px;
    }

    .sw-field {
        margin-bottom: 0;
    }

    .sw-container {
        position: relative;
        padding: 30px;
    }

    .sw-container:nth-child(even) {
        background-color: $color-gray-100;
    }
}
