{% block sw_boolean_filter_content %}
    <sw-select-field
        v-model:value="value"
        :placeholder="filter.placeholder"
        @update:value="changeValue"
    >
        <option v-model:value="true">
            {{ filter.optionHasCriteria ? filter.optionHasCriteria : $tc('sw-boolean-filter.active') }}
        </option>
        <option v-model:value="false">
            {{ filter.optionNoCriteria ? filter.optionNoCriteria : $tc('sw-boolean-filter.inactive') }}
        </option>
    </sw-select-field>
{% endblock %}
